@import "../../../assets/scss/mixins/breakpoints";
@import "../../../assets/scss/variables/colors";

#products .pro-container {
    padding-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    height: auto;

    gap: 1rem;
    justify-content: center;
  }
  
  #products .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px hsla(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    justify-self: center;
  }
  #products .pro:hover {
    box-shadow: 20px 20px 30px hsla(0, 0, 0, 0.06);
  }
  #products .pro img {
    width: 100%;
    height: 232px;
    border-radius: 20px;
  }
  #products .cardLink {
    text-decoration: none;
  }
  #products .cardLink::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
  }
  #products .pro .des {
    text-align: start;
    padding: 10px 0;
  }
  #products .pro .des span {
    color: #606063;
    font-size: 12px;
  }
  #products .pro .des h5 {
    padding-top: 7px;
    padding-bottom: 6px;
    color: #1a1a1a;
    font-size: 14px;
  }
  #products .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
  }
  #products .pro .des h4 {
    padding-top: 7px;
    color: #088178;
    font-weight: 700px;
    font-size: 15px;
  }
  #products .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    font-weight: 700;
  
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  .cartLink{
    z-index:2;
  }

  //---------------------------responsive style-------------------------------------
  @include breakpoint(mop) {
    #products .pro-container {
      grid-template-columns: repeat(1,1fr);
      // grid-template-rows: repeat(16,1fr);
    }
  }
  
  @include breakpoint(sm) {
    #products .pro-container {
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @include breakpoint(md) {
    #products .pro-container {
      grid-template-columns: repeat(3,1fr);

    }
  }
  @include breakpoint(lg) {
    #products .pro-container {
      grid-template-columns: repeat(3,1fr);
 
    }
  }
  @include breakpoint(xl) {
    #products .pro-container {
      grid-template-columns: repeat(4,1fr);
  
    }
  }
  