<section class="page-header" id="shop-header">
  <h2>Shop the Latest Fashion</h2>
  <p>Save More With Coupons & Up To 70% Off!</p>
</section>
<!-- Filter Bar Component -->
<app-filter-bar (categoryChanged)="onCategorySelected($event)" (sortChanged)="onSortChanged($event)"></app-filter-bar>
<app-products [shownProducts]="(products$ | async)?? []"></app-products>
<app-pagination
  [currentPage]="(page$ | async)?? 1"
  [totalPages]="(totalPages$ | async)?? 1"
  (pageChange)="onPageChanged($event)"
></app-pagination>

<app-news-letters></app-news-letters>
