/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background: #e3e6f3;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.nav-links.desktop {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.nav-links.desktop li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

#cartLink {
  margin-right: 4px;
  font-weight: 900;
  font-size: 16px;
  position: relative;
  color: #333;
  padding: 0 10px;
}
.cart-icon {
  font-size: 30px;
  cursor: pointer;
  color: #1a1a1a;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -310px;
  width: 280px;
  height: 100vh;
  background: #e8eaf4;
  padding: 40px 30px;
  box-shadow: -2px 0 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: right 0.35s ease;
  z-index: 9999;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  text-align: right;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: auto;
  display: block;
}

.sidebar .nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.sidebar .nav-links li a {
  font-size: 18px;
    font-weight: 600;
  color: #333;
  text-decoration: none;
}
.right-nav {
  display: flex;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 25;
}

#cartNum {
  background-color: rgb(191, 41, 41);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 15px;
  height: 15px;
  color: white;
  font-size: 9px;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center !important;
  position: absolute;
  top: -5px;
  left: 34px;
}
#navbar li {
  padding: 0 10px;
  position: relative;
}
#navbar li a:hover,
#navbar li a.active-link ,
#sidebarNav li a:hover,
#sidebarNav li a.active-link {
  color: #088178;
}
#navbar li a.active-link::after,
#navbar li a:hover::after,
#sidebarNav li a.active-link::after,
#sidebarNav li a:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links.desktop {
    display: none;
  }
  .hamburger {
    display: block;
  }
  #cartLink {
    font-size: 24px;
  }
}
@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
}
