#hero {
    background-color: #e3e6f3;
    width: 100%;
    height: 90vh;
    padding: 0px 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contentDiv{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
  }
  #hero h4 {
    padding-bottom: 15px;
  }
  #hero h1 {
    color: #088178;
  }
  #hero button {
    background-image: url("../../../assets/img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }