<section id="prodetails" class="section-p1">
  <div class="single-pro-img">
    <img
      src="{{selectedPrd?.image}}"
      width="100%"
      id="MainImage"
    />
    <div class="small-img-group">
      <div class="small-img-col">
        <img
          src="../../../assets/img/products/f1.jpg"
          width="100%"
          class="small-img"
        />
      </div>
      <div class="small-img-col">
        <img
          src="../../../assets/img/products/f2.jpg"
          width="100%"
          class="small-img"
        />
      </div>
      <div class="small-img-col">
        <img
          src="../../../assets/img/products/f3.jpg"
          width="100%"
          class="small-img"
        />
      </div>
      <div class="small-img-col">
        <img
          src="../../../assets/img/products/f4.jpg"
          width="100%"
          class="small-img"
        />
      </div>
    </div>
  </div>

  <div class="single-pro-details">
    <h6>{{selectedPrd.category}}</h6>
    <h4>{{selectedPrd?.title}}</h4>
    <h2>{{selectedPrd?.price}}</h2>
    <h5 id="avlQuantity">{{selectedPrd.quantity}} items left</h5>
    <select>
      <option>Select Size</option>
      <option>XL</option>
      <option>XXL</option>
      <option>Small</option>
      <option>Large</option>
    </select>
    <input 
    id="quantityInput"
  type="number" 
  #quantity 
  [min]="1" 
  [max]="selectedPrd.quantity" 
  [value]="1" 
  oninput="this.value = Math.max(this.min, Math.min(this.max, this.value))"
/>

      <button class="normal" id="cartButton" (click)="addToCart(quantity.value)">Add To Cart</button>
    <h4>product Details</h4>
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora
      accusamus odio quod! Perspiciatis praesentium iste, iure quidem commodi
      non neque esse vero mollitia, veritatis corporis, error eos veniam Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Commodi cupiditate.
    </span>
  </div>
</section>
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="proContainer2">
    <div class="pro">
      <img src="../../../assets/img/products/n1.jpg" alt="" />
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-Shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href=""><i class="bi bi-cart3 cart"></i></a>
    </div>
    <div class="pro">
      <img src="../../../assets/img/products/n2.jpg" alt="" />
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-Shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href=""><i class="bi bi-cart3 cart"></i></a>
    </div>
    <div class="pro">
      <img src="../../../assets/img/products/n3.jpg" alt="" />
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-Shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href=""><i class="bi bi-cart3 cart"></i></a>
    </div>
    <div class="pro">
      <img src="../../../assets/img/products/n4.jpg" alt="" />
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-Shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href=""><i class="bi bi-cart3 cart"></i></a>
    </div>
  </div>
</section>
