@import "../mixins/breakpoints";
@import "../variables/colors";

#feature {
    display: grid;
    grid-template-columns: repeat( 6,1fr); 
    grid-template-rows:220px; 
    gap: 1rem;   
    justify-content: center;
  }
  .fe-box {
    width: 168px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px #07070708;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    justify-self: center;
  }
  .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  }
  
  .fe-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    background-color: #fddde4;
    color: #088178;
    line-height: 1;
    border-radius: 4px;
  }
  
  .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
  }
  .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
  }
  .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
  }
  .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
  }
  .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
  }
  
  //---------------------------responsive style-------------------------------------

  @include breakpoint(mop) {
    #feature {
      grid-template-columns: 1fr  ; 
      grid-template-rows:repeat(6 ,220px); 
    }
  }
  @include breakpoint(xsm) {
    #feature {
      grid-template-columns: 1fr 1fr  ; 
      grid-template-rows:220px 220px  220px; 
    }
  }
  @include breakpoint(sm) {
    #feature {
      grid-template-columns: 1fr 1fr  ; 
      grid-template-rows:220px 220px  220px; 
    }
  }
  
  @include breakpoint(md) {
    #feature {
      grid-template-columns: repeat(3,1fr); 
      grid-template-rows:220px 220px; 
    }
  }
  
  @include breakpoint(xl) {
    #feature {
      grid-template-columns: repeat(6,1fr) ; 
      grid-template-rows:220px; 
    }
  }
  
  
  