@import "../mixins/breakpoints";
@import "../variables/colors";

.cart{
  margin-right: 4px;
  font-weight: 900;
  font-size: 24px;
  position: relative;
}
#cartNum{
  background-color: rgb(191, 41, 41);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 15px;
  height: 15px;
  color:white;
  font-size: 9px;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center !important;
  position: absolute;
  top: -5px;
  left: 34px;
}
.mat-mdc-list-base{
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px !important;
  background: #e3e6f3;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
  z-index: 9999999 !important;
  position: sticky;
  top: 0px;
  left: 0;
}
.nav-list{
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
  top: 0px;
  left: 0;
}

.sidenav-container {
  padding: 0 !important;

  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
  z-index: 999999999 !important;
  top: 0px;
  left: 0;
}
.sidenav {
  width: 250px;
}

.logo {
  display: flex;
  align-items: center;
  img {
    height: 40px;
  }
}
.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  a {
    color: white;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 14px;
  }
  a :hover{
   color:#088178;
  }
}
.mat-toolbar-single-row{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  padding: 20px 80px !important;
  background: #e3e6f3 !important;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0px;
  left: 0;
}

.menu-button {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}


@include breakpoint(mop) {
  .navbar {
    display: none;
  }
  // .sidenav-container{
  //   height: 100%;
  //   }
  .menu-button {
    display: block;
  }
}

@include breakpoint(sm) {
  .navbar {
    display: none;
  }
  // .sidenav-container{
  //   height: 100%;
  //   }
  .menu-button {
    display: block;
  }
}

@include breakpoint(md) {
  .navbar {
    display: none;
  }
  // .sidenav-container{
  //   height: auto;
  //   }
  .menu-button {
    display: block;
  }
}
@include breakpoint(lg) {
  .navbar {
    display: block;
  }
  // .sidenav-container{
  //   height: auto;
  //   }
  .menu-button {
    display: none !important;
  }
}
@include breakpoint(xl) {
  .navbar {
    display: block;
  }
  // .sidenav-container{
  //   height: auto;
  //   }
  .menu-button {
    display: none !important;
  }
}





