@import "../mixins/breakpoints";
@import "../variables/colors";

#newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../../../assets/img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    margin-bottom: 0!important;
  }
  #newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }
  #newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
  }
  #newsletter p span {
    color: #ffbd27;
  }
  #newsletter input {
    height: 3.125rem;
    width: 100%;
    padding: 0 1.25em;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #newsletter .form {
    display: flex;
    width: 40%;
  }
  //---------------------------responsive style-------------------------------------
  @include breakpoint(mop) {
    #newsletter {
      padding: 40px 20px;
    }
    #newsletter .form {
      width: 100%;
    }
  }
  
  @include breakpoint(xsm) {
    #newsletter {
      padding: 40px 20px;
    }
    #newsletter .form {
      width: 80%;
    }
  }
  @include breakpoint(sm) {
    #newsletter {
      padding: 40px 60px;
    }
    #newsletter .form {
      width: 70%;
    }
  }
  
  @include breakpoint(md) {
    #newsletter {
      padding: 40px 60px;
    }
    #newsletter .form {
      width: 40%;
    }
  }
  
  @include breakpoint(lg) {
    #newsletter {
      padding: 40px 20px;
    }
    #newsletter .form {
      width: 40%;
    }
  }
  