@import "../../../../assets/scss/mixins/breakpoints";
@import "../../../../assets/scss/variables/colors";

#hero {
  background-color: #e3e6f3;
  width: 100%;
  height: 90vh;
  padding: 0px 6rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 3;
}
.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contentDiv {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}
.contentDiv h4 {
  padding-bottom: 15px;
  font-size: 1rem;
}
.contentDiv h1 {
  color: #088178;
  font-size: 3rem;
}
.contentDiv h2 {
  font-size: 2rem;
}
.contentDiv p {
  font-size: 1rem;
}
.contentDiv button {
  background-image: url("../../../../assets/img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
//---------------------------responsive style-------------------------------------

@include breakpoint(mop) {
  #hero {
    padding: 0px 1.5rem;
  }

  .imgDiv {
    display: none;
  }
  .contentDiv {
    align-items: center;
  }
}
@include breakpoint(sm) {
  #hero {
    padding: 0px 2rem;
  }
  .imgDiv {
    display: none;
  }
  .contentDiv {
    align-items: center;
  }
  .contentDiv {
    align-items: center;
  }
}

@include breakpoint(md) {
  #hero {
    padding: 0px 3rem;
  }

  .imgDiv {
    display: none;
  }
  .contentDiv {
    align-items: center;
  }
}

@include breakpoint(lg) {
  #hero {
    padding: 0px 6rem;
  }

  .imgDiv {
    display: block;
  }
  .contentDiv {
    align-items: flex-start;
  }
}
