<div class="filter-bar section-p1">
  <div class="filter-controls">
    <!-- Category Select -->
    <mat-form-field appearance="outline" class="w-180">
      <!-- <mat-label>All Categories</mat-label> -->
      <mat-select
        [value]="selectedCategory"
        (selectionChange)="onCategoryChange($event.value)"
      >
        <mat-option value="all">All Categories</mat-option>
        <mat-option  *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Sort Select -->
    <mat-form-field appearance="outline" class="w-180">
      <mat-select
        [value]="sortBy"
        (selectionChange)="onSortChange($event.value)"
      >
        <mat-option value="default">Default</mat-option>
        <mat-option value="price-low">Price: Low to High</mat-option>
        <mat-option value="price-high">Price: High to Low</mat-option>
        <mat-option value="rating">Highest Rated</mat-option>
        <mat-option value="name">Name: A to Z</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-stroked-button (click)="onResetClick()">Reset Filters</button>
</div>
