
  <nav class="navbar" >
 <a routerLink="/home" class="logo">
    <img src="assets/img/logo.png" alt="Logo" />
  </a>

  <!-- Desktop Links -->
   <div class="right-nav">
  <ul class="nav-links desktop" id="navbar">
    <li><a routerLink="/home" routerLinkActive="active-link" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/products" routerLinkActive="active-link" (click)="closeMenu()">Shop</a></li>
    <li><a routerLink="/blog" routerLinkActive="active-link" (click)="closeMenu()">Blog</a></li>
    <li><a routerLink="/about" routerLinkActive="active-link" (click)="closeMenu()">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active-link" (click)="closeMenu()">Contact</a></li>

  </ul>

  <!-- Icons -->
  <div class="icons">
    <a  routerLink="/auth/login">login</a>
    <a  routerLink="/profile" > <i class="fa-solid fa-user"></i></a>
    <a routerLink="/cart"  id="cartLink"> <i class="fa-solid fa-bag-shopping"></i></a>
    <!-- Hamburger -->
         <i id="bar" class="fas fa-outdent hamburger" (click)="toggleSidebar()"></i>
  </div>
  </div>
</nav>

<!-- Overlay -->
<div class="overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

<!-- Sidebar -->
<div class="sidebar"  id="sidebar" [class.open]="isSidebarOpen">
  <div class="close-btn">
         <i  class="fa-solid fa-xmark" (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-links"  [class.active]="isActive">
    <li><a routerLink="/home" routerLinkActive="active-link" (click)="toggleSidebar()">Home</a></li>
    <li><a routerLink="/shop" routerLinkActive="active-link" (click)="toggleSidebar()">Shop</a></li>
    <li><a routerLink="/blog" routerLinkActive="active-link" (click)="toggleSidebar()">Blog</a></li>
    <li><a routerLink="/about" routerLinkActive="active-link" (click)="toggleSidebar()">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active-link" (click)="toggleSidebar()">Contact</a></li>
   
  </ul>
</div>
