<section id="pagination-section">
  <ul id="pagination">
    <li (click)="previousPage()" [class.disabled]="currentPage === 1" class="nav-btn">
      <i class="fas fa-chevron-left"></i>
    </li>

    <li
      *ngFor="let p of getPagesArray()"
      (click)="goTo(p)"
      [class.active-page]="p === currentPage"
    >
      {{ p }}
    </li>

    <li (click)="nextPage()" [class.disabled]="currentPage === totalPages" class="nav-btn">
      <i class="fas fa-chevron-right"></i>
    </li>
  </ul>
</section>