@import "../../../assets/scss/mixins/breakpoints";
@import "../../../assets/scss/variables/colors";
#blog-header {
    background-image: url(../../../assets/img/banner/b19.jpg);
  }
  #blog {
    padding: 150px 150px 0 150px;
  }
  .blog-box {
     display: flex ;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
    gap: 3rem;
  }
  #blog .blog-img {
    width: 60%;
    margin-right: 40px;
  }
  
  #blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  #blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
  
    position: relative;
    transition: 0.3s;
  }
  #blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
  }
  #blog .blog-details a:hover {
    color: #088178;
  }
  #blog .blog-details a:hover::after {
    background-color: #088178;
  }
  #blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
  }
  
  //---------------------------responsive style-------------------------------------
  
  
  @include breakpoint(mop) {
    #blog {
      padding: 100px 20px 0 20px;
    }
  
    #blog .blog-box {
      display: flex ;
      flex-direction: column;
      align-items: flex-start;
    }
    #blog .blog-img {
      width: 100%;
      margin-right: 0;
    }
  }
  @include breakpoint(xsm) {
    #blog {
      padding: 100px 20px 0 20px;
    }
  
    #blog .blog-box {
      display: flex ;
      flex-direction: column;
      align-items: flex-start;
    }
    #blog .blog-img {
      width: 80%;
      margin-right: 0;
    }
  }
  @include breakpoint(sm) {
    #blog {
      padding: 100px 20px 0 20px;
    }
  
    #blog .blog-box {
      display: flex ;
      flex-direction: column;
      align-items: flex-start;
    }
    #blog .blog-img {
      width: 70%;
      margin-right: 0;
    }
  }
  
  @include breakpoint(md) {
    #blog {
      padding: 100px 50px 0 50px;
    }
  
    #blog .blog-box {
      display: flex ;
      flex-direction: row;
      align-items: center;
    }
    #blog .blog-img {
      width: 60%;
      margin-right: 0;
    }
  }
  
  @include breakpoint(xl) {
    #blog {
      padding: 150px 150px 0 150px;
    }
  
    #blog .blog-box {
      display: flex ;
      flex-direction: row;
      align-items: center;
    }
    #blog .blog-img {
      width: 50%;
      margin-right: 0;
    }
  }
  @include breakpoint(laptop) {
    #blog {
      padding: 150px 150px 0 150px;
    }
  
    #blog .blog-box {
      display: flex ;
      flex-direction: row;
      align-items: center;
    }
    #blog .blog-img {
      width: 50%;
      margin-right: 0;
    }
  }
  