<app-hero></app-hero>
<app-features></app-features>
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>
  <app-search-bar (onSearch)="onSearch($event)"></app-search-bar>
</section>
 <!-- Filter Bar Component -->
  <app-filter-bar
 (categoryChanged)="onCategorySelected($event)" (sortChanged)="onSortChanged($event)"></app-filter-bar>
<app-products  [shownProducts]="(products$ | async) ?? []"></app-products>
<app-pagination  [currentPage]="(page$ | async) ?? 1"
  [totalPages]="(totalPages$ | async) ?? 1" (pageChange)="onPageChanged($event)"></app-pagination>
<app-banners></app-banners>
<app-news-letters></app-news-letters>
