<app-hero></app-hero>
<app-features></app-features>
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="search-container">
    <label for="search" class="search-label">Search Products</label>
    <input 
    type="text"
     id="search" class="search-input" 
     placeholder="Search for products..."
     #serchValue
     (change)="search(serchValue.value)">
    <button type="submit" class="search-button">Search</button>
  </div>
  <!-- Filter Bar Component -->
  <app-filter-bar
  [categories]="categories"
  [selectedCategory]="selectedCategory"
  [sortBy]="sortBy"
  (selectedCategoryChange)="updateCategory($event)"
  (sortByChange)="updateSort($event)"
  (reset)="resetFilters()"
></app-filter-bar>

</section>
<app-pagination></app-pagination>
<app-products></app-products>
<app-banners></app-banners>
<app-news-letters></app-news-letters>