
#products .pro-container {
    padding-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    height: auto;
    gap:1rem;
    justify-content: center;
  }
  .section-p1{
    padding:0px 80px  ;
  }