
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../../assets/img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
  #banner h4 {
    color: #fff;
    font-size: 16px;
  }
  #banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
  }
  #banner h2 span {
    color: #ef3636;
  }
  #banner button:hover {
    background-color: #088178;
    color: #fff;
  }
  
  /* small banners */
  #sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../../../assets/img2/photo_26_2023-09-03_15-04-20.jpg);
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
  }
  #sm-banner .banner-box2 {
    background-image: url(../../../assets/img/banner/b10.jpg);
  }
  #sm-banner .banner-box h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
  #sm-banner .banner-box h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
  }
  #sm-banner .banner-box span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  #sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
  }
  /* banner3.............. */
  #banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../../../assets/img2/photo_10_2023-09-03_15-04-20.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  #banner3 h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
  }
  #banner3 h3 {
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
  }
  #banner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
  }
  #banner3 .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    margin-bottom: 20px;
    // background-color: rgb(166, 223, 166);
  }
  #banner3 .banner-box3 {
    background-image: url(../../../assets/img2/photo_1_2023-09-03_16-29-22.jpg);
  }

  @media (max-width: 799px) {
     #banner {
    height: 20vh;
  }
  /* -------------- */
  #sm-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #sm-banner .banner-box {
    padding: 16px initial;
    min-width: 100%;
    height: 30vh;
  }
   /* #banner3 -------------------- */


#banner3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px; /* Adjusted padding for responsiveness */
}

#banner3 .banner-box {
  width: 100%; /* Set width to 100% for full responsiveness */
  min-height: 200px; /* Adjusted minimum height */
  background-size: cover;
  background-position: center;
  padding: 20px; /* Adjusted padding */
  margin-bottom: 20px;
}

#banner3 h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 10px; /* Added margin bottom */
}

#banner3 h3 {
  color: #ec544e;
  font-size: 15px;
  font-weight: 800;
}

/* Adjust background images for each banner-box */
#banner3 .banner-box:nth-child(1) {
  background-image: url(../../../assets/img2/photo_10_2023-09-03_15-04-20.jpg);
}

#banner3 .banner-box:nth-child(2) {
  background-image: url(../../../assets/img2/photo_18_2023-09-03_15-04-20.jpg);
}

#banner3 .banner-box:nth-child(3) {
  background-image: url(../../../assets/img2/photo_1_2023-09-03_16-29-22.jpg);
}

}
@media (max-width: 1200px) {
  /* Responsive styles for banner3 section */

#banner3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px; 
}

#banner3 .banner-box {
  width: 100%; 
  min-height: 200px; 
  background-size: cover;
  background-position: center;
  padding: 20px; 
  margin-bottom: 20px;
}

#banner3 h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 10px; 
}

#banner3 h3 {
  color: #ec544e;
  font-size: 15px;
  font-weight: 800;
}

#banner3 .banner-box:nth-child(1) {
  background-image: url(../../../assets/img2/photo_10_2023-09-03_15-04-20.jpg);
}

#banner3 .banner-box:nth-child(2) {
  background-image: url(../../../assets/img2/photo_18_2023-09-03_15-04-20.jpg);
}

#banner3 .banner-box:nth-child(3) {
  background-image: url(../../../assets/img2/photo_1_2023-09-03_16-29-22.jpg);
}

}

@media (max-width: 477px) {
     #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
}