<section class="page-header" id="cart-header">
    <h2>#cart</h2>
    <p>Add Your Coupon Code &Save upto 70%!</p>
  </section>
  <section id="cart" class="section-p1">
      <table width="100%" >
          <thead>
              <tr>
                  <td>Remove</td>
                  <td>Image</td>
                  <td>Product</td>
                  <td>Price</td>
                  <td>Quantity</td>
                  <td>Subtotal</td>
              </tr>
          </thead>
          <tbody id="cartContent">
           
          <tr *ngFor="let cartPrd of shownCartList">
            <td><a  ><i class="fa-regular fa-circle-xmark" id="deleteIcon" (click)=" deleteProduct(cartPrd.id)"></i></a></td>
            <td><img src="{{cartPrd.image}}" alt=""></td>
            <td>{{cartPrd.title}}</td>
            <td>{{cartPrd.price}}$</td>
            <td><input type="number" value="{{cartPrd.quantity}}" #quantity (change)="updateQuantity(quantity.value,cartPrd)"></td>
            <td>{{cartPrd.subTotal}}$</td>
        </tr>
          </tbody>
      </table>
  </section>
  <section id="cart-add" class="section-p1">
      <div id="coupon">
          <h3>Apply Coupon</h3>
          <input type="text" placeholder="Enter Your Coupon">
          <button class="normal">Apply</button>
      </div>
      <div id="subtotal">
          <h3>Cart totals</h3>
          <table>
              <tr>
                  <td>Cart subtotals</td>
                  <td>{{total}}$</td>
              </tr>
              <tr>
                  <td>shipping</td>
                  <td>free</td>
              </tr>
              <tr>
                  <td><strong>total</strong></td>
                  <td><strong>{{total}}$</strong></td>
              </tr>
          </table>
          <button class="normal">proceed to checkout </button>
      </div>

  </section>
