.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-p1 {
  padding: 0px 80px;
}
.filter-controls {
  display: flex;
  gap: 12px;
}
.w-180 {
  width: 180px;
}

